{% extends 'main.html' %}{% load static %}{% block content %}
<main id="AuthChangePassword" class="auth_change_password wrapper">
  <div class="auth_change_password__grid w-100">
    <!-- side bar -->

    {% include 'sidebar.html' %}
    <!-- side bar end -->
    <!-- Change password form  -->

    <section class="auth_change_password_content">
      <div class="auth_change_password_header">
        <a href=""
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-arrow-left"
          >
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
          </svg>
        </a>
        <span>Change Password</span>
      </div>
      <form action="" class="auth_change_password_form">
        <div class="form-control">
          <span class="error">invalid</span>
          {{form.old_password}}
        </div>
        <div class="form-control">{{form.password1}}</div>
        <div class="form-control">{{form.password2}}</div>
        <button type="submit">Change Password</button>
        <div class="footer">
          <a href="">Forget Password</a>
        </div>
      </form>
    </section>

    <!-- Change Password form end -->
    <!-- rightSidebar  -->
    {% include 'activitybar.html' %}
    <!-- rightSidebar end -->
  </div>
</main>
{% endblock %}
