{% extends 'main.html' %}{% load static %} {% block content %}

<main id="SIGNIN">
  <div class="signin_form">
    <div class="form">
      <div class="title">
        <h2>Welcome Back</h2>
      </div>
      <div class="error">
        <!-- <span>Invalid Credentials</span> -->
      </div>
      <form action="" method="post">
        <div class="form-control">
          <input type="text" placeholder="Email" name="username" />
        </div>
        <div class="form-control">
          <input type="password" placeholder="Password" name="password" />
          <div class="eye">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-eye-off active"
            >
              <path
                d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
              ></path>
              <line x1="1" y1="1" x2="23" y2="23"></line>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-eye"
            >
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          </div>
        </div>
        <div class="forget flex flex-ai-c flex-jc-e">
          <a href="">Forget Password?</a>
        </div>
        <button class="submit-btn" type="submit">Sign in</button>
      </form>
      <div class="google-login">
        <a href=""
          ><img src="{% static 'assets/icons/google.png' %}" alt="" /><span
            >Sign in with Google</span
          ></a
        >
      </div>
      <div class="signup-link">
        <span>Havent Sign Up yet? <a href="{% url 'register' %}">Sign Up</a></span>
      </div>
    </div>
    <div class="image">
      <div class="img">
        <img src="{% static 'assets/images/tour-4-cover.jpg' %}" alt="" />
      </div>
    </div>
  </div>
</main>
<script>
  const SIGNIN = document.getElementById('SIGNIN');
  let eyes = SIGNIN.querySelector('.eye');
  let pwdInp = SIGNIN.querySelector('.eye').parentElement.children[0];

  let eyeOff = eyes.querySelector('.feather-eye-off');
  let eye = eyes.querySelector('.feather-eye');

  eyes.addEventListener('click', () => {
    eyeOff.classList.toggle('active');
    eye.classList.toggle('active');

    if (!eyeOff.classList.contains('active')) {
      pwdInp.setAttribute('type', 'txt');
    } else {
      pwdInp.setAttribute('type', 'password');
    }
  });
</script>
{% endblock %}
