{% extends 'main.html' %} {% block content %}
<main id="Profile" class="profile wrapper">
  <div class="profile__grid w-100">
    <!-- sidebar  -->
    {% include 'sidebar.html' %}
    <!-- sidebar end -->
    <div class="profile__grid-profile">
      <div class="profile_header p-32">
        <a href="{{request.META.HTTP_REFERER}}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-arrow-left"
          >
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
          </svg>
        </a>
        <div>
          <span>{{user.name}}</span>
          <p>{{posts.count}} Posts</p>
        </div>
      </div>
      <div class="cover_pic">
        <img src="{{user.cover_picture.url}}" alt="" />
      </div>
      <div class="profile_pic">
        <div class="img" style="border: 4px solid darkcyan">
          <img src="{{user.avatar.url}}" alt="" />
        </div>
        {% if request.user.profile == user %}
        <div class="edit-profile">
          <a href="{% url 'settings' %}">Edit</a>
        </div>
        {% else %}
        <div style="align-self: last baseline">
          <div class="edit-profile">
            {% if request.user.profile not in user.followers.all %} <small></small>
            {% if user in request.user.profile.followers.all %}
            <a href="{% url 'follow' user.id %}">Followback</a>
            {% endif %} {% endif %} {% if request.user.profile in user.followers.all %}
            <a href="{% url 'follow' user.id %}">Unfollow</a>
            {% endif %} {% if request.user.profile not in user.followers.all %} <small></small>
            {% if user not in request.user.profile.followers.all %}
            <a href="{% url 'follow' user.id %}">Follow</a>
            {% endif %} {% endif %}
          </div>
          <div>
            <a
              href="{% url 'chat' user.username %}"
              style="
                display: block;
                background-color: darkcyan;
                padding: 8px 22px;
                border-radius: 22px;
                color: #fff;
              "
              >Message</a
            >
          </div>
        </div>
        {% endif %}
      </div>
      <div class="profile_details">
        <div class="name">{{user.name}}</div>
        <div class="username">@{{user.username}}</div>
        <p class="bio">{{user.bio}}</p>
        <div class="friends flex flex-ai-c flex-jc-s gp-12">
          <p>
            <span>{{user.following.all.count}}</span>
            Following
          </p>
          <p>
            <span>{{user.followers.all.count}}</span>
            Followers
          </p>
        </div>
      </div>
      <div class="posts">
        <div class="title"><span>All Posts</span></div>
        <div class="all_posts">
          {% for post in posts %}
          <div class="feed">
            <a href="{% url 'profile' post.owner.id %}" class="user-img">
              <img src="{{post.owner.avatar.url}}" alt="" />
            </a>
            <div class="post">
              <div class="flex flex-ai-c flex-jc-sb pb-12">
                <div style="gap: 6px">
                  <a href="{% url 'profile' post.owner.id %}" class="name">{{post.owner.name}}</a>
                  <span class="username">@{{post.owner.username}}</span>
                  <span class="timestamp">. {{post.created_at|timesince}} ago</span>
                </div>
                <div class="options">
                  <button type="button">...</button>
                </div>
              </div>
              <a href="{{post.get_absolute_url}}" class="body">
                <p class="text">{{post.body}}</p>
                <div class="img">
                  <img src="{{post.image.url}}" alt="" />
                </div>
              </a>
              <div class="footer flex flex-ai-c gp-12 flex-jc-s">
                <button type="button" class="comment flex flex-ai-c flex-jc-c">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-message-circle"
                  >
                    <path
                      d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"
                    ></path>
                  </svg>
                  <span>{{post.comment.all.count}}</span>
                </button>
                {% if request.user.profile in post.likes.all %}
                <button
                  type="button"
                  class="likes added flex flex-ai-c flex-jc-c"
                  onclick="addLike(event,'{{post.id}}')"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-heart"
                    style="pointer-events: none"
                  >
                    <path
                      d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                    ></path>
                  </svg>
                  <span class="post_count">{{post.likes.all.count}}</span>
                </button>
                {% else %}
                <button
                  type="button"
                  class="likes flex flex-ai-c flex-jc-c"
                  onclick="addLike(event,'{{post.id}}')"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-heart"
                    style="pointer-events: none"
                  >
                    <path
                      d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                    ></path>
                  </svg>
                  <span class="post_count">{{post.likes.all.count}}</span>
                </button>
                {% endif %}
                <button type="button" class="interactions flex flex-ai-c flex-jc-c">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-bar-chart-2"
                  >
                    <line x1="18" y1="20" x2="18" y2="10"></line>
                    <line x1="12" y1="20" x2="12" y2="4"></line>
                    <line x1="6" y1="20" x2="6" y2="14"></line>
                  </svg>
                  <span>{{post.impressions.all.count}}</span>
                </button>
                {% if post in bookmark.post.all %}
                <button
                  type="button"
                  class="bookmark added flex flex-ai-c flex-jc-c"
                  onclick="addToBookmark(event,'{{post.id}}')"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-bookmark"
                    style="pointer-events: none"
                  >
                    <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                  </svg>
                </button>
                {% else %}
                <button
                  type="button"
                  class="bookmark flex flex-ai-c flex-jc-c"
                  onclick="addToBookmark(event,'{{post.id}}')"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-bookmark"
                    style="pointer-events: none"
                  >
                    <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                  </svg>
                </button>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- rightSidebar  -->
    {% include 'activitybar.html' %}
    <!-- rightSidebar end -->
  </div>
</main>

<script>
  const addToBookmark = (event, id) => {
    $.ajax({
      url: "{% url 'add_to_bookmark' %}",
      type: 'POST',
      data: { id },
      success: (data) => {
        if (data.data == true) {
          event.target.classList.add('added');
        } else {
          event.target.classList.remove('added');
        }
      },
    });
  };

  const addLike = (event, id) => {
    $.ajax({
      url: "{% url 'like_post' %}",
      type: 'POST',
      data: { id },
      success: (data) => {
        if (data.data == true) {
          event.target.classList.add('added');
          event.target.querySelector('.post_count').innerText = data.count;
        } else {
          event.target.classList.remove('added');
          event.target.querySelector('.post_count').innerText = data.count;
        }
      },
    });
  };
</script>
{% endblock %}
