@use '../utils' as *;
@use '../animations' as *;

#AuthChangePassword {
  .auth_change_password {
    &__grid {
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 2.4fr 1.2fr;
      .auth_change_password_content {
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        .auth_change_password_header {
          background-color: $ColorPrimary;
          padding: rem(32);
          padding-bottom: rem(12);
          display: flex;
          align-items: center;
          justify-content: start;
          gap: rem(12);
          border-bottom: 1px solid $ColorGray;
          a {
            svg {
              width: rem(26);
              height: rem(26);
              stroke: $ColorLight;
            }
          }
          span {
            font-size: $f-lr;
          }
        }
        .auth_change_password_form {
          margin-top: 50%;
          transform: translateY(-50%);
          padding: rem(32);
          .form-control {
            margin-bottom: rem(16);
            .error {
              color: $ColorError;
            }
            input {
              width: 100%;
              padding: rem(12);
              background-color: $ColorSecondary;
              color: $ColorLight;
              outline: transparent;
              border: none;
              border-bottom: 1px solid $ColorMain;
              &:not(:last-child) {
                margin-bottom: rem(16);
              }
            }
          }
          button {
            margin-top: rem(12);
            width: 100%;
            border: none;
            outline: transparent;
            background-color: $ColorMain;
            color: $ColorLight;
            padding: rem(16);
            border-radius: rem(8);
            font-size: $f-md;
          }
          .footer {
            text-align: end;
            margin-top: rem(16);
            a {
              color: $ColorMain;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
