@use '../utils' as *;

#SIGNIN {
  width: 100%;
  height: 100vh;
  background: $ColorSecondary;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(12);
  .signin_form {
    background: $ColorDark;
    border-radius: rem(4);
    max-width: rem(900);
    box-shadow: 0 0 10px #00000041;
    display: grid;
    overflow: hidden;
    @include breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
      gap: rem(12);
    }
    .form {
      padding: rem(24);
      @include breakpoint-up(md) {
        padding: rem(60) rem(24);
      }
      .title {
        padding-bottom: rem(16);
        text-align: center;
        h2 {
          font-size: $f-lr;
          margin-bottom: rem(6);
        }
      }
      .error {
        margin-bottom: rem(6);
        span {
          color: $ColorError;
          letter-spacing: rem(1);
          font-weight: 300;
        }
      }
      form {
        .form-control {
          position: relative;
          &:first-child {
            margin-bottom: rem(12);
          }
          input {
            display: block;
            width: 100%;
            padding: rem(12) rem(12);
            border-radius: rem(4);
            border: 1px solid $ColorMain;
            outline: transparent;
            color: $ColorGray;
          }
          .eye {
            position: absolute;
            right: rem(8);
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            svg {
              width: rem(16);
              height: rem(16);
              stroke: $ColorMain;
            }
            .feather.active {
              display: block;
            }
            .feather {
              display: none;
            }
          }
        }
        .forget {
          padding: rem(12) 0;
          a {
            color: $ColorMain;
            text-decoration: underline;
          }
        }
        .submit-btn {
          width: 100%;
          padding: rem(12);
          outline: transparent;
          background: $ColorMain;
          color: $ColorLight;
          border-radius: rem(4);
          outline: 1px solid $ColorMain;
          cursor: pointer;
          transition: 300ms;
          font-size: $f-md;
          &:hover {
            outline: 1px solid $ColorMain;
            background: $ColorDark;
            color: $ColorMain;
          }
        }
      }
      .google-login {
        text-align: center;

        a {
          display: block;
          background: $ColorLight;
          margin: rem(8) 0;
          padding: rem(12);
          border-radius: rem(4);
          transition: 300ms ease-in-out;
          outline: 1px solid $ColorLight;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: $f-md;
          &:hover {
            background: $ColorDark;
            span {
              color: $ColorLight;
            }
          }

          img {
            width: rem(18);
            height: rem(18);
            margin-right: rem(6);
          }
          span {
            color: $ColorPrimary;
            transition: 300ms ease-in-out;
            font-size: $f-base;
          }
        }
      }
      .signup-link {
        margin-top: rem(24);
        span {
          color: $ColorLight;
          font-weight: 200;
          a {
            color: $ColorMain;
            text-decoration: underline;
          }
        }
      }
    }
    .image {
      .img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
