$ColorMain: #1d9797;
$ColorPrimary: #000000;
$ColorSecondary: #1c1c1c;
$ColorDark: #000;
$ColorDarkLight: #212121;
$ColorLight: #fff;
$ColorGrayDark: #262626;
$ColorGray: #777575;
$ColorSuccess: #21eb82;
$ColorError: #f1470e;
